* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

.header, .footer {
    color: #FFFFFF;
    background-color: #FE1A19;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    line-height: 23px;
}

.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container{
    color: #000000;
    padding: 52px 45px;
    display: flex;
    justify-content: center;
}

.colomn {
    padding: 33px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    margin: 0 25px;
    box-sizing: border-box;
    width: 400px;
}

.head-text {
    font-size: 20px;
    margin-bottom: 40px;
}

.text {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 23px;
}
